/*-----------------------------------------------------------------------------------

    Version: 1.1.0

-----------------------------------------------------------------------------------
    
    CSS PLUGIN DASHBOARD PROGRAMAS ACADÉMICOS
    =========================================
	
    00. Variables
    01. 

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  00. Variables
/*----------------------------------------*/
:root {
  /*-- General --*/
  --primary-color: #092f58;
  --secondary-color: #f9c127;
  --tertiary-color: #63a3fa;
  --quaternary-color: #7f8c8d;

  --bg-color: white;
  --bg-secondary-color: #f5f5f5;
  --btn-secondary-color: #dd8d02;
  --border-container: rgba(0, 0, 0, 0.1);
  --container-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --container-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/*----------------------------------------*/
/*  01. 
  /*----------------------------------------*/

/*-- Common Style --*/
