/* Íconos */
.main-title__responsive-icon {
    text-align: center;
}

.main-title__icon {
    display: inline-block;
    font-family: dashicons;
    font-size: 1.25rem;
    line-height: 1;
}

.main-title__icon--desktop::before {
    content: "\f472";
    color: #2271b1;
}

.main-title__icon--tablet::before {
    content: "\f471";
    color: #00a0d2;
}

.main-title__icon--mobile::before {
    content: "\f470";
    color: #d54e21;
}
